/*
 * Seat Booking API
 *
 * zupaTech Seat Booking System
 *
 * OpenAPI spec version: 1.0.0
 * Contact: alexhorlock93@gmail.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 */

using System;
using System.Collections.Generic;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Http;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.WebUtilities;
using Microsoft.Extensions.Logging;
using Microsoft.Extensions.Primitives;
using Swashbuckle.AspNetCore.SwaggerGen;
using Newtonsoft.Json;
using System.ComponentModel.DataAnnotations;
using AlexHorlock.BookingSystem.Attributes;
using AlexHorlock.BookingSystem.Models;
using AlexHorlock.BookingSystem.Data;

namespace AlexHorlock.BookingSystem.Controllers
{ 
    /// <summary>
    /// 
    /// </summary>
    public class ZupaDevApiController : Controller
    { 
        private readonly MeetingDbContext _context;
        public ZupaDevApiController(MeetingDbContext context)
        {
            _context = context;
        }

        /// <summary>
        /// seat booking request
        /// </summary>
        /// <remarks>Requests a seat or seats to book (max 4)</remarks>
        /// <param name="requestedSeats">Seat to request</param>
        /// <response code="201">seat booked</response>
        /// <response code="400">invalid input, request invalid</response>
        /// <response code="409">the seat is already booked</response>
        [HttpPost]
        [Route("/Alex-Horlock/SeatBooking/1.0.0/seats")]
        [ValidateModelState]
        [SwaggerOperation("BookSeatRequest")]
        public virtual IActionResult BookSeatRequest([FromBody]List<Seat> requestedSeats)
        { 
            //TODO: Uncomment the next line to return response 201 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(201);

            //TODO: Uncomment the next line to return response 400 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(400);

            //TODO: Uncomment the next line to return response 409 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(409);

            
            if (requestedSeats.Count > 4)
                return this.BadRequest("can't book more that 4 seats"); // is this right?

            // check if seats are booked
            foreach (Seat requestedSeat in requestedSeats)
            {
                foreach (Seat currentSeat in _context.Seats)
                {
                    if (requestedSeat.Column == currentSeat.Column 
                    && requestedSeat.Row == currentSeat.Row)
                    {
                        return this.BadRequest("Seat is taken"); // is this right?
                    }
                }
            }
            
            _context.Seats.AddRange(requestedSeats);

            _context.SaveChangesAsync();

            return Ok(); // is this right?
        }

        /// <summary>
        /// gets available meetings
        /// </summary>
        /// <remarks>returns all available meetings in system </remarks>
        /// <response code="200">search results matching criteria</response>
        /// <response code="400">bad input parameter</response>
        [HttpGet]
        [Route("/Alex-Horlock/SeatBooking/1.0.0/meetings")]
        [ValidateModelState]
        [SwaggerOperation("GetMeetings")]
        [SwaggerResponse(statusCode: 200, type: typeof(List<Meeting>), description: "search results matching criteria")]
        public virtual IActionResult GetMeetings()
        { 
            //TODO: Uncomment the next line to return response 200 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(200, default(List<Meeting>));

            //TODO: Uncomment the next line to return response 400 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(400);

             return new OkObjectResult(_context.Meetings);
        }

        /// <summary>
        /// gets seats and their booking status
        /// </summary>
        /// <remarks>By passing in the row and column, you can search for all available seats in the system </remarks>
        /// <param name="meetingId">the id of the meeting</param>
        /// <response code="200">search results matching criteria</response>
        /// <response code="400">bad input parameter</response>
        [HttpGet]
        [Route("/Alex-Horlock/SeatBooking/1.0.0/seats")]
        [ValidateModelState]
        [SwaggerOperation("GetSeats")]
        [SwaggerResponse(statusCode: 200, type: typeof(List<Seat>), description: "search results matching criteria")]
        public virtual IActionResult GetSeats([FromQuery]Guid meetingId)
        { 
            //TODO: Uncomment the next line to return response 200 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(200, default(List<Seat>));

            //TODO: Uncomment the next line to return response 400 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(400);

            if (meetingId != null)
                return new OkObjectResult(_context.Seats.Where(x => x.MeetingId == meetingId));

            // should return a 'no meetings for that id' message here...

            return new OkObjectResult(_context.Seats);
        }
    }
}
